.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    


}
.products-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:45px;
    margin-top: 120px;
    margin-left:90px;
    
}
.cart-container{
    position:sticky;
    top:0;
    height: 700px;
    width: 250px;
    border: 2px solid gold;
    border-radius: 8px;
    box-shadow: 2px 2px 3px 3px;
}

.btn-container{
    display: flex;
    flex-direction: column;
    width:100%;
   
}
.btn-container button{
    padding: 5px 10px;
    font-weight: 600;
    font-size: 17px;
}
.btn-container .choose{
    color:#049012;
    
}
.btn-container .choose-again{
    color:blueviolet;
    

}
@media screen and (max-width:688px) {
    .products-container{
        display: grid;
        grid-template-columns: 1fr;
    }
    
}

